@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --hero-bg: url(".");
  --primary: #f2c7d9;
  --secondary: #095b76;
  --secondary-variant1: #0d85ad;
  --tertiary: rgba(255, 151, 232, 0.6);
  --primaryAlpha: rgba(242, 199, 217, 0.6);
  --dark: #031c25;
  --dark-gray: #495c63;
  --light-gray: #b1b7b9;
  --light: #fafdff;
}
/* typography */
body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-gray);
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Comfortaa", cursive;
}
h1,
h2,
.h1,
.h2 {
  letter-spacing: -0.02rem;
}
h3,
.h3 {
  letter-spacing: -0.01rem;
}
.small-caps {
  font-variant: small-caps;
}
@media (min-width: 992px) {
  .display-1 {
    font-size: calc(1.625rem + 10vw);
  }
}
a {
  text-decoration: none;
}

/* Overwriting container max-width */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1100px;
  }
}

/* overwriting background colors */
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-tertiary {
  background-color: var(--tertiary) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-light-gray {
  background-color: var(--light-gray) !important;
}
.bg-primary-alpha {
  background-color: var(--primaryAlpha);
}

/* overwriting border colors */
.border-primary {
  border-color: var(--primary) !important;
}

/* overwriting text and link colors */
.text-light,
.link-light {
  color: var(--light) !important;
}
.text-light-gray,
.link-light-gray {
  color: var(--light-gray) !important;
}
.text-dark,
.link-dark {
  color: var(--dark) !important;
}
.text-primary,
.link-primary {
  color: var(--primary) !important;
}
.text-secondary,
.link-secondary {
  color: var(--secondary) !important;
}

/* Overwriting buttons */
.btn-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--secondary-variant1);
  border-color: var(--secondary-variant1);
}

/* logo  */
.logo {
  fill: var(--light);
}
.logo-stroke {
  stroke: var(--light);
}
.logo.solid {
  fill: var(--dark);
}
.logo-stroke.solid {
  stroke: var(--dark);
}

/* NAVBAR */
/* Overwriting navbar background color when on lg screen */
@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas {
    background-color: transparent !important;
  }
}
/* Overwriting navbar nav-link style */
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  letter-spacing: 0.03rem;
  font-weight: 600;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Overwriting nav-link colors */
.nav-link,
.nav-link:visited,
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: var(--light);
}
@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link.solid {
    color: var(--dark);
    filter: none;
  }
}
.nav-link:hover,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--tertiary);
}

/* Overwriting dropdown */
.dropdown-item.active {
  color: var(--primary);
  background-color: white;
}

/* Hero images */
.hero {
  min-height: 100vh;
  max-height: 810px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--hero-bg) no-repeat center center scroll;
  background-size: cover;
}
#hero-home {
  --hero-bg: url("img/HeaderHome.jpg");
  background-size: cover;
  position: relative;
}
#hero-descrizione {
  --hero-bg: url("img/3.jpg");
}
#hero-storia {
  --hero-bg: url("img/3.jpg");
}
#hero-servizi {
  --hero-bg: url("img/Header_Servizi.jpg");
}
#hero-formazione {
  --hero-bg: url("img/Header_Formazione.jpg");
}
#hero-benessere {
  --hero-bg: url("img/HeaderBenessere.jpg");
}
#hero-eventi {
  --hero-bg: url("img/HeroEventi.jpg");
}
#hero-unisciti {
  --hero-bg: url("img/3.jpg");
}

/* Hero content */
.hero-content {
  max-width: 920px;
}
#hero-home .hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*background-color: var(--tertiary);*/
  z-index: 2;
}
@media (min-width: 768px) {
  #hero-home .hero-content {
    width: 50%;
    right: 0;
  }
}

/* Composition servizi home */
.composition-servizi img {
  width: 60%;
}
.composition-servizi img:last-child {
  margin-top: -10%;
  z-index: 2;
}

/* story year  */
.story-year {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .story-year {
    font-size: 2rem;
    text-align: center !important;
  }
  .year-container::after {
    content: " ";
    margin-top: 1rem;
    display: block;
    min-height: 75%;
    width: 50%;
    border-width: 0 3px 0 0;
    border-color: var(--dark);
    border-style: dashed;
  }
}

/* footer::before,
section:not(.hero)::before {
  content: url(img/separatore50.png);
  position: relative;
  top: -26.5px;
  left: 50%;
  margin-left: -25px;
  z-index: 200;
} */

/* #passaggi li {
  list-style: url(img/Separatore15.png);
} */
